header {
    height: 51px;
}

.scaling-svg-container {
    position: relative;
    height: 0;
    width: 100%;
    padding: 0;
    padding-bottom: 100%;
    /* override this inline for aspect ratio other than square */
}
.scaling-svg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

#edit-image {
    overflow: scroll;
}

.login-form {
    margin: 0;
    position: absolute;
    top: 50%;
    min-width: 200px;
    width: 25%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.success-msg {
    font-weight: bold;
    font-size: 18px;
    color: #3c763d;
}

#building-info {
    padding: 30px;
    margin-right: 0;
    margin-left: 0;
}

.btn-right-offset {
    margin-right: 10px;
}