<div style="padding: 30px" class="row">
    <div class="col-sm-2">
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="building in buildings" ng-class="{'active' : building === active.building}"><a ng-click="chooseBuilding(building)"
                 href="javascript:void(0)">{{::building.name}}</a></li>
        </ul>
    </div>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-default" ng-class="{'btn-success': floor === active.floor}" ng-click="chooseFloor(floor)" ng-repeat="floor in floors"
                    style="margin-right: 10px;">{{::floor.name}}</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12" style="padding-top: 10px; padding-bottom: 10px">
                <button ng-hide="state.draw" ng-click="state.draw = true" class="btn btn-default">Edit</button>
                <button ng-show="state.draw" ng-click="state.draw = false; save()" class="btn btn-default">Save</button>

                <button ng-show="state.draw && !state.edit" ng-click="state.edit = true" class="btn btn-default">Add New Polygon</button>
                <button ng-show="state.draw && state.edit" ng-click="state.edit = false; save()" class="btn btn-default">Create Polygon</button>
            </div>
        </div>

        <div ng-if="!state.draw" class="row">
            <div class="col-sm-12">
                <div class="scaling-svg-container"
                     style="padding-bottom: 84% /* 100% * 1601/1898 */">
                    <image-map polygons="active.floor.polygons" image-link="active.floor.picture" id="image-map"
                        set-active-polygon="setActivePolygon(polygon)"></image-map>
                </div>
            </div>
        </div>

        <div ng-if="state.draw" ng-controller='edit' class="row">
            <div class="col-sm-12">
                <edit-image image-link="active.floor.picture" polygons="active.floor.polygons" save="savePolygons(polygons)" create-polygon="createPolygon(polygon)"
                            api="editImageApi" editable="state.edit" id="edit-image"></edit-image>
            </div>
        </div>

        <div ng-show="active.polygon" class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <button ng-hide="state.editInfo" ng-click="state.editInfo = true" class="btn btn-default">Edit</button>
                        <button ng-show="state.editInfo" ng-click="state.editInfo = false" class="btn btn-default">Save</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        Принадлежность
                    </div>
                    <div class="col-sm-4">
                        <span ng-hide="state.editInfo">{{active.polygon.info.belonging ? active.polygon.info.belonging : '-'}}</span>
                        <input type="text" ng-show="state.editInfo" ng-model="active.polygon.info.belonging" ng-change="initPolygonInfo(active.polygon); saveBuildings()">
                    </div>
                    <div class="col-sm-2">
                        Тип помещения
                    </div>
                    <div class="col-sm-4">
                        <span ng-hide="state.editInfo">{{active.polygon.info.type ? active.polygon.info.type : '-'}}</span>
                        <input type="text" ng-show="state.editInfo" ng-model="active.polygon.info.type" ng-change="initPolygonInfo(active.polygon); saveBuildings()">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        Площадь помещения
                    </div>
                    <div class="col-sm-4">
                        <span ng-hide="state.editInfo">{{active.polygon.info.square ? active.polygon.info.square : '-'}}</span>
                        <input type="text" ng-show="state.editInfo" ng-model="active.polygon.info.square" ng-change="initPolygonInfo(active.polygon); saveBuildings()">
                    </div>
                    <div class="col-sm-2">
                        Количество посадочных мест
                    </div>
                    <div class="col-sm-4">
                        <span ng-hide="state.editInfo">{{active.polygon.info.places ? active.polygon.info.places : '-'}}</span>
                        <input type="text" ng-show="state.editInfo" ng-model="active.polygon.info.places" ng-change="initPolygonInfo(active.polygon); saveBuildings()">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        Оборудование
                    </div>
                    <div class="col-sm-10">
                        <span ng-hide="state.editInfo">{{active.polygon.info.equipment ? active.polygon.info.equipment : '-'}}</span>
                        <input type="text" ng-show="state.editInfo" ng-model="active.polygon.info.equipment" ng-change="initPolygonInfo(active.polygon); saveBuildings()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
