<div style="padding: 30px" class="row">
    <div class="col-sm-2">
        <button ng-click="chooseBuilding(building)" ng-repeat="building in buildings">{{::building.name}}</button>
    </div>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-12">
                <button ng-click="chooseFloor(floor)" ng-repeat="floor in floors">{{::floor.name}}</button>
            </div>

            <button ng-hide="state.draw" ng-click="state.draw = true" class="btn btn-default">Edit</button>
            <button ng-show="state.draw" ng-click="state.draw = false; save()" class="btn btn-default">Save</button>
        </div>

        <div ng-if="!state.draw" class="row">
            <div class="col-sm-12">
                <div class="scaling-svg-container"
                     style="padding-bottom: 84% /* 100% * 1601/1898 */">
                    <image-map image-link="active.floor.picture" id="image-map"></image-map>
                </div>
            </div>
        </div>

        <div ng-if="state.draw" ng-controller='edit' class="row">
            <div class="col-sm-12">
                <button ng-hide="state.edit" ng-click="state.edit = true" class="btn btn-default">Edit</button>
                <button ng-show="state.edit" ng-click="state.edit = false; save()" class="btn btn-default">Create Polygon</button>

                <button ng-click="editImageApi.clear()" class="btn btn-default">Clear</button>
            </div>
            <div class="col-sm-12">
                <edit-image image-link="active.floor.picture" polygons="active.floor.polygons" save="savePolygons(polygons)" api="editImageApi" editable="state.edit" id="edit-image"></edit-image>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2">
                        name 1
                    </div>
                    <div class="col-sm-10">
                        info 1
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        name 2
                    </div>
                    <div class="col-sm-10">
                        info 2
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        name 3
                    </div>
                    <div class="col-sm-10">
                        info 3
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
